<!DOCTYPE html>
<html>
  <head>
    <title><%= form %></title>
    <% include templates/head.ejs %>
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= form %></h1>
    <p>Welcome to <%= form %></p>
    <h2>Jajajajaja</h2>

    <% include templates/scripts.ejs %>
  </body>
</html>
