<!DOCTYPE html>
<html>
  <head>
    <title><%= form %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= form %></h1>
    <p>Welcome to <%= form %></p>
    <h3>Jajajajaja</h3>
  </body>
</html>
