<!DOCTYPE html>
<html>

<head>
  <title>
    <%= form %>
  </title>
  <% include templates/head.ejs %>
</head>

<body>
  <div class="container">
    <% include templates/header.ejs %>
    <h1>
      <%= form %>
    </h1>
    <p>Bienvenido a la
      <%= form %>
    </p>    <form action="" method="POST" id="formVivienda">
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="ftipovivienda">Tipo de vivienda</label>
          <select name="ftipovivienda" id="ftipovivienda" class="custom-select" required>
            <option selected disabled>Elige el tipo de vivienda</option>
            <option value="casa">Casa</option>
            <option value="apartamento">Apartamento</option>
            <option value="otro">Otro</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="fdireccion">Dirección de la vivienda</label>
          <input type="text" name="fdireccion" id="fdireccion" placeholder="Dirección" class="form-control" required>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="fnpersonasvive">Número de personas con las que comparte la vivienda</label>
            <input type="number" name="fnpersonasvive" id="fnpersonasvive" min="0" class="form-control" required>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="festrato">Estrato socioeconomico de la vivienda</label>
            <input type="number" name="festrato" id="festrato" min="1" class="form-control" required>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="fhabitaciones">Número de habitaciones que se usan como dormitorio</label>
            <input type="number" name="fhabitaciones" id="fhabitaciones" min="1" class="form-control" required>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="fareavivienda">Área (en metros²) de la vivienda</label>
            <input type="number" name="fareavivienda" id="fareavivienda" min="3" class="form-control" required>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="fidvivienda">Identificación de la vivienda</label>
            <input type="text" name="fidvivienda" id="fidvivienda" placeholder="Apartamento xxx, casa xxx, etc..." class="form-control" required>
          </div>
      </div>
      <div class="form-group">
        <p>Su familia </p>
        <div class="form-check form-check-inline">
            <input type="radio" name="faduenacion" id="gpgarriendo" value="pgarriendo" class="form-check-input" required>
            <label for="gpgarriendo" class="form-check-label">Paga arriendo por la vivienda</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" name="faduenacion" id="gduena" value="duena" class="form-check-input" required>
            <label for="gduena" class="form-check-label">Es dueña de la vivienda</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" name="faduenacion" id="gotro" value="otro" class="form-check-input" required>
            <label for="gotro" class="form-check-label">Otro</label>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="fpagoadministracion">¿Cuánto paga de administración?</label>
            <input type="text" name="fpagoadministracion" id="fpagoadministracion" placeholder="Ej: 900.000 mensual" class="form-control" required>
          </div>
      </div>
      <p>Si pagan arriendo</p>
      <div class="form-group">
        <label for="fpagoarriendo">¿Cuánto paga?</label>
        <input type="text" name="fpagoarriendo" id="fpagoarriendo" placeholder="Ej: 900.000 mensual" class="form-control">
       </div>
       <p>De los siguientes servicios. ¿Cuales posee su vivienda?</p>
       <div class="form-group">
       <div class="form-check">
         <input type="checkbox" name="fservicios" id="fenergia" class="form-check-input" value="energia" required>
         <label for="fenergia" class="form-check-label">Energía eléctrica</label>
       </div>
       <div class="form-check">
         <input type="checkbox" name="fservicios" id="falcantarillado" class="form-check-input" value="alcantarillado" required>
         <label for="falcantarillado" class="form-check-label">Alcantarillado</label>
       </div>
       <div class="form-check">
         <input type="checkbox" name="fservicios" id="facueducto" class="form-check-input" value="acueducto" required>
         <label for="facueducto" class="form-check-label">Acueducto</label>
       </div>
       <div class="form-check">
        <input type="checkbox" name="fservicios" id="fgas" class="form-check-input" value="gas" required>
        <label for="fgas" class="form-check-label">Gas natural</label>
       </div>
      <div class="form-check">
        <input type="checkbox" name="fservicios" id="ftelefono" class="form-check-input" value="telefono" required>
        <label for="ftelefono" class="form-check-label">Teléfono</label>
      </div>
      <div class="form-check">
        <input type="checkbox" name="fservicios" id="finternet" class="form-check-input" value="internet" required>
        <label for="finternet">Internet</label>
      </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="fnpersonasapoyoec">¿Cuántas personas con las que vive apoyan económicamente al hogar?</label>
          <input type="number" name="fnpersonasapoyoec" min="0" class="form-control" required> 
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="submitPersona">Enviar información</button>
    </form>
  </div>
     <% include templates/scripts.ejs %>
  </body>
</html>
