<!DOCTYPE html>
<html>

<head>
  <title>
    Soporte
  </title>
  <% include templates/head.ejs %>
</head>

<body class="bg-secondary">

  <div class="container">
    <div class="card text-center">
      <% include templates/header.ejs %>
      <div class="card-body">
        <h1>
          Preguntas frecuentes
        </h1>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  ¿Hasta cuando hay plazo para llenar el censo?
                </button>
              </h5>
            </div>
  
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                El censo se cierra una vez llegada la noche del día del censo solo las personas que hayan llenado el
                formulario en su totalidad quedan censadas en el departamento de estadística, para todas aquellas
                personas que no lograron realizarlo por este medio lo podrán realizar de la forma tradicional.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  ¿Por qué es importante llenar el censo?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                El censo es la encuesta más amplia y completa se realiza a la república de Bolumbia de modo que en este
                se obtiene la mayor cantidad de información útil. Esta información es la herramienta más importante que
                tiene el gobierno de Bolumbia para la planificación de programas para vivienda, salud, educación, entre
                otros
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Qué pasa si no diligencio el censo a tiempo?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                En caso tal de que no se alcance a diligenciar el censo en la noche de censo, esos datos se enviaran al
                departamento de estadística de Bolumbia como datos no confirmados/no terminados y no se tendrán en cuenta
                para el gobierno por la falta de veracidad al no confirmar estos datos
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Todas las personas deben llenar el censo?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Con la finalidad de que los datos obtenidos sobre la población sean fieles a la realidad, se espera y
                desea que todos los integrantes de Bolumbia llenen el censo
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿El censo se realiza por hogar o por persona?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Ya que el censo busca averiguar la condición de vida de todas las personas del país, es importante que
                cada integrante del hogar realice el censo
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Se puede realizar dos o más censos con el mismo correo?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                No, cada integrante debe ingresar al censo con su correo personal, si por alguna razón, los integrantes
                del hogar no tiene correo, entonces el censador encargado irá al hogar para colaborar con el censo
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Que pasa si no acabo de llenar el censo antes de la fecha límite?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Estos datos, también serán enviados al departamento de estadística como datos no confirmados/no
                terminados y por ende no se tendrán en cuenta para la planeación de gobierno
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Los establecimientos privados también se tienen que censar?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                No, solamente establecimientos del gobierno y los hogares
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Qué hago si no tengo correo?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Se debe consultar con el censador encargado a su hogar para que este los colabore con el censo
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  ¿Cómo puedo contactar para hacer una pregunta?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Si ninguna de las preguntas anteriores satisface sus necesidades, se debe comunicar al siguiente correo:
                jcaladh@eafit.edu.co
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include templates/scripts.ejs %>
</body>

</html>