<!DOCTYPE html>
<html>

<head>
  <title>
    Soporte email
  </title>
  <% include templates/head.ejs %>

</head>

<body class="bg-secondary">
  <div class="container">
    <div class="card text-center">
      <% include templates/header.ejs %>
      <div class="card-body">
        <h1>Contactar</h1>
        <p>Envíanos un correo y nos pondremos en contacto contigo</p>
        <form action="">
          <div class="form-group">
            <label for="fnombre">Nombre</label>
            <input type="text" class="form-control" id="fnombre" placeholder="Ej: Juanito Jimenez" required>
          </div>
          <div class="form-group">
            <label for="femail">Email</label>
            <input type="email" class="form-control" id="femail" placeholder="tuemail@ejemplo.com" required>
          </div>
          <div class="form-group">
            <label for="ftelefono">Telefono</label>
            <input type="tel" class="form-control" placeholder="Ej: 555-55-55" id="ftelefono"> 
          </div>
          <div class="form-group">
            <label for="ftext">Escribe tu mensaje aquí</label>
            <textarea id="ftext" cols="30" rows="5" class="form-control"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% include templates/scripts.ejs %>
</body>