<!DOCTYPE html>
<html>

<head>
  <title>
    Soporte
  </title>
  <% include templates/head.ejs %>
</head>

<body>
    
  <div class="container">
    <% include templates/header.ejs %>
    <h1>
        Preguntas frecuentes
      </h1>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
        ¿Hasta cuando hay plazo para llenar el censo?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          El censo se cierra luego de la noche del séptimo día y solamente las personas que llenaron el formulario quedan censadas.
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">  
        <a class="navbar-brand" href="#">
            ¿Por qué es importante llenar el censo?
        </a>
      </nav>
      <nav class="navbar navbar-light">
          <a class="navbar-brand" href="#">
          Porque es la herramienta más importante para crear un plan de gobierno, esta muestra la información más completa sobre
          </a>
      </nav>
      <nav class="navbar navbar-light">
          <a class="navbar-brand" href="#">
          los ciudadanos de Bolumbia.
          </a>
      </nav>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            ¿Qué pasa si no diligencio el censo a tiempo?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          La información no enviada no será tenida en cuenta para el gobierno de Bolumbia ya que esta puede afectar el desempeño
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          del gobierno de turno.
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            ¿Todas las personas deben llenar el censo?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          Se desea que todo habitante de Bolumbia llene el censo, para así obtener la información más fiel y real de la sociedad 
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          bolumbiana, que será usada por el gobierno de turno.
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            ¿El censo se realiza por hogar o por persona?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          Cada persona de cada hogar debe realizar el censo, para así obtener la mayor cantidad de información útil.
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            ¿Se puede realizar dos o más censos con el mismo correo?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          No, cada persona debe únicamente llenar su propio censo, no se deben reutilizar correos.
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            ¿Que pasa si no tengo correo electrónico?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          De no poder realizar el censo electrónico, un censador encargado irá a su hogar para ayudarlo con el llenado del censo.
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            ¿Los establecimientos privados también se tienen que censar?
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          No, únicamente establecimientos del gobierno
        </a>
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            Contacto
        </a>
    </nav>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            Correo: jcaladh@eafit.edu.co
        </a>
    </nav>
  </div>
     <% include templates/scripts.ejs %>
  </body>
</html>
