<!--<a href="/" class="badge badge-primary">Home</a> |
<a href="/S_persona" class="badge badge-primary">Sección persona</a> |
<a href="/S_vivienda" class="badge badge-primary">Sección vivienda</a> |
<a href="/Soporte" class="badge badge-primary">Soporte</a> |
<a href="/" class="badge badge-primary">Cerrar Sesión</a>-->
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/S_persona">Sección persona</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/S_vivienda">Sección vivienda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/Soporte">Preguntas Frecuentes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Soporte/email">Contactanos</a>
      </li>
    <li class="nav-item">
      <a class="nav-link active" href="/">Confirmación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/">Cerrar Sesión</a>
    </li>
  </ul>
</div>